
#highlight {
    background-color: rgb(144, 149, 147);
    padding: 50px;
    border: none;
}
#red-butn{
    background-color: red;    
    padding: 50px;
    border: none;
}
#blue-butn{
    background-color: blue;
    padding: 50px;
    border: none;

}
#green-butn{
    background-color: green;
    padding: 50px;
    border: none;
}
#yellow-butn{
    background-color: yellow;
    padding: 50px;
    border: none;
}
#high-score {
    margin-top: 5px;
}
#score-id {
    margin-top: 8px;
    margin-bottom: 8px;
}
#yellow-butn:hover{
    border: 3px groove;
    border-color: aquamarine;

}
#blue-butn:hover{
    border: 3px groove;
    border-color: aquamarine;

}

#green-butn:hover{
    border: 3px groove;
    border-color: aquamarine;

}

#red-butn:hover{
    border: 3px groove;
    border-color: aquamarine;

}